

<footer>
    <div class="footer1">
      <div class="container">
        <div class="offices">
          <h3>Offices</h3>
          <p>50 Raritan Center Pkwy, <br>
            Edison, NJ 08837, USA</p>
  
            <div>
              <div>
                  <a href="tel:8080000000"><img src="./img/ic_call_24px.png" alt=""> <h6>8080000000</h6></a></div>
              <div><a href="mailto:dmcct@rapidtables.com"><img src="./img/ic_email_24px.png" alt=""> <h6>8080000000</h6></a></div>
            </div>
            <div class="social-links">
              <a href="#"><img src="./img/Group 30.png" alt=""></a>
              <a href="#"><img src="./img/Group 29.png" alt=""></a>
              <a href="#"><img src="./img/Group 28.png" alt=""></a>
            </div>
  
        </div>
        <div>
          <h3>Service</h3>
          <a href="#">Portfolio</a>
          <a href="#">About</a>
          <a href="#">Marketplace</a>
          <a href="#">Experts</a>
          <a href="#">Blog</a>
  
        </div>
        <div>
          <h3>Popular</h3>
          <a href="#">Free Videos</a>
          <a href="#">Tools,apps and plugins</a>
          <a href="#">Blog</a>
          <a href="#">Photo license</a>
          <a href="#">FAQ</a>
          <a href="#">API</a>
        </div>
        <div>
          <h3>Service</h3>
          <a href="#">Training</a>
          <a href="#">Marketplace</a>
          <a href="#">Experts</a>
          <a href="#">Guides</a>
        </div>
  
      </div> 
    </div>   
  
    <div class="footer2">
      <div class="container">
      <p>© 2019 Prelude by viworx-Co. All Rights Reserved</p>
      <p>Terms of use | Privacy policy</p>
  
        </div>
    </div>
  </footer>
    
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="js/all.js"></script>
  </body>
  </html>